<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="main">

    <div class="container">
        <div class="image">
            {{#if user.additionalinform}}
            <img src="/images/user/profile/{{user._id}}.jpg">
            {{else}}
            <img src="/images/user/profile/no_user.jpg">
            {{/if}}

        </div>
        <div class="name">
            <h1>{{user.username}}</h1>
        </div>

        <div class="data">

            <p id="dob">{{user.username}}</p>
            <p>{{user.address}}</p>
            <p>{{user.email}}</p>
            <p>{{user.number}}</p>
            <p>{{user.skills}}</p>
            <p>{{user.education}}</p>
            {{!-- <iframe src="/images/user/resume/{{user._id}}.pdf"></iframe> --}}
            <a href="/images/user/resume/{{user._id}}.pdf" class="btn" target="_blank">resume</a>
            <button><a href="/update">update</a></button>
        </div>
    </div>
</div>