<link rel="stylesheet" href="/stylesheets/view-jobs.css">


<h2>view job</h2>
{{#each allJobs}}
<div class="card" style="width: 600px; height:300px ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="http://1.bp.blogspot.com/-tYs6lV4Oh7Y/Ti541M8EkWI/AAAAAAAACHM/-8r68R4fD_Y/s1600/Construction%2BCompany%2BBuilding%2BPicture.jpg"
                class="img-fluid rounded-start" alt="..." style="height: 300px;">

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-warning">{{jobtitle}}</h5>
            </div>
            <div class="data">
                <p>{{companyName}}</p>
                <p>{{ description}}</p>
                <p>{{vaccancy}}</p>
                <p>{{salary}}</p>
                <p>{{area}}</p>
                <form action="/applyJob" method="post" id="applyjob">
                    <input type="hidden" name="jobId" value="{{_id}}">
                    <input type="hidden" name="companyName" value="{{companyName}}">
                    <input type="hidden" name="companyId" value="{{companyId}}">
                    <button type="submit" onclick="retun alert('successfully apply')">ApplyJob</button>
                </form>



            </div>
        </div>
    </div>
</div>
{{/each}}
<script>
    let form = document.getElementById('applyjob')
    form.addEventListener("submit", (e) => {
        e.preventDefault()
        alert('succesfully apply')
        e.run()
    })
</script>