<link rel="stylesheet" href="/stylesheets/viewjobapplication.css">
<h1>MY APPLICATION</h1>
<div class="container">
    {{#each jobapplication}}
    <div class="card">
        <img src="/images/user/profile/{{userId}}.jpg" alt="">
        <div>
            <p>{{companyName}}</p>
            <p>{{status}}</p>
            <p>{{ ApplyDate}}</p>
        </div>
    </div>
    {{/each}}
    {{#each jobapplication}}
    <div class="card">
        <img src="/images/user/profile/{{userId}}.jpg" alt="">
        <div>
            <p>{{companyName}}</p>
            <p>{{status}}</p>
            <p>{{ ApplyDate}}</p>
        </div>
    </div>
    {{/each}}
    {{#each jobapplication}}
    <div class="card">
        <img src="/images/user/profile/{{userId}}.jpg" alt="">
        <div>
            <p>{{companyName}}</p>
            <p>{{status}}</p>
            <p>{{ ApplyDate}}</p>
        </div>
    </div>
    {{/each}}
    {{#each jobapplication}}
    <div class="card">
        <img src="/images/user/profile/{{userId}}.jpg" alt="">
        <div>
            <p>{{companyName}}</p>
            <p>{{status}}</p>
            <p>{{ ApplyDate}}</p>
        </div>
    </div>
    {{/each}}

</div>