<link rel="stylesheet" href="/stylesheets/view-jobs.css">


<h2>VIEW JOBS</h2>
{{#each allJobs}}
<div class="card" style="width: 600px; height:350px ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://tse2.mm.bing.net/th?id=OIP._Zo9DPX7rqIdykfZm1QDqgHaE8&pid=Api&P=0"
                class="img-fluid rounded-start" alt="..." style="height: 300px;">

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-warning">{{jobtitle}}</h5>
            </div>
            <div class="data">
                <p>{{companyName}}</p>
                <p>{{ description}}</p>
                <p>{{vaccancy}}</p>
                <p>{{salary}}</p>
                <p>{{area}}</p>
                <form action="/applyJob" method="post" id="applyjob">
                    <input type="hidden" name="jobId" value="{{_id}}">
                    <input type="hidden" name="companyName" value="{{companyName}}">
                    <input type="hidden" name="companyId" value="{{companyId}}">
                    <button class="btn" type="submit" onclick="retun alert('successfully apply')">ApplyJob</button>
                </form>



            </div>
        </div>
    </div>
</div>
{{/each}}
<script>
    let form = document.getElementById('applyjob')
    form.addEventListener("submit", (e) => {
        e.preventDefault()
        alert('succesfully apply')
        e.run()
    })
</script>