<link rel="stylesheet" href="/stylesheets/company/company-profile.css">
<div class="main">
    <div class="image">
        {{#if company.additionalInform}}
        <img src="/images/company/profile/{{company._id}}.jpg">
        {{else}}
        <img src="/images/company/profile/{{company._id}}.jpg">
        {{/if}}
    </div>
    <div class="name">
        <h1>{{company.companyname}}</h1>
    </div>
    <div class="data">
        <p id="email">{{company.email}}</p>
        <p>{{company.number}}</p>
        <p>{{company.personname}}</p>
        {{!-- <p>{{company. industryType}}</p> --}}
        <button><a href="/company/updatecompany">update</a></button>

    </div>
</div>