<link rel="stylesheet" href="/stylesheets/company/job-application.css">
<h1>JOB APPLICATION</h1>

{{#each jobapplications}}
<div class="card">
    <img src="/images/user/profile/{{userId}}.jpg" alt="">
    <p>{{email}}</p>
    <p>{{number}}</p>
    <p>{{ ApplyDate}}</p>
    <p>{{ userName}}</p>
    <div class="main">
        <a href="/company/acceptjob/{{_id}}"><button class="accept">accept</button></a>
        <a href="/images/user/resume/{{userId}}.pdf" target="_blank"><button class="resume">view resume</button> </a>
        <a href="/company/rejectjob/{{_id}}"><button class="reject">Reject</button></a>
    </div>
</div>

{{/each}}